*{
    margin: 0;
    padding: 0;
} 

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AD8B73;
    font-family: 'Ubuntu', sans-serif;
    

}

#navbar{
    display: flex;
    flex-direction: row;
    /* justify-content: left; */
    /* align-items: center; */
    position: sticky;
    top: 0px;
    z-index: 10;
    /* border: solid 1px #000;  */
    /* height: 100%; */
    width: 100%;
    height: 100px;
    /* padding: 1.4%; */
    /* background-color: midnightblue; */
    
}

#navLeft,#navRight{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%;
    height: 100%; */
    height: 100%;
    width: 40vw;
    
    /* padding: 1.4% 4.5%; */
    
    /* border: solid 1px #000; */
    
}
#navMid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    text-align: center;
}
/* 
#navLeft{
    padding: 1.4%;
}
*/
#navRight{
    justify-content: right;
    padding-right: 4vw;
    padding-left: 4.5%;
}
#navLeft{
    justify-content: left;
    padding-left: 4.5%;
}

#navLeft,#navMid h2{
    color: mintcream;
}

#questionMark{
    width: 60px;
    height: 60px;
    /* background-color:#ffe6c1 ; */
    background-color: #E3CAA5;
    border-radius: 100%;
    /* border: solid 5px #AD8B73 ; */
    /* box-shadow:0px 0px 0px 4px #AD8B73 inset; */
    
}

#questionMark:hover{

    background-color:#ffdcaf;
}

#questionMark:active{
    background-color: #ffdcaf9d;
}
/* Dette er Css'en som gjelder når man bytter fra spørsmåltegn til kryss */
#questionMark.active{
    box-shadow:0px 0px 0px 1px black inset;
    width: 60px;
    height: 60px;
}

#instruksjonsMeny{
    /* display: flex;
    flex-direction: column;
    align-items: center; */

    background-color: #E3CAA5;
    width: 72vw;
    height: 80vh;
    z-index: 1;
    position: absolute;
    display: none;
    margin-top: 8%;
    box-shadow: 2px 2px 7px;
    
    
}
#instruksjonsMeny.active{
    display: initial;
}

#instruksjonsTekst {
    background-color: #FFFBE9;
    width: 80%;
    height: 80%;
    margin: 4.1% auto;
    padding: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    box-shadow: 1px 1px 7px;
    font-size: 1.4vw;
    text-align: center;
    
}

#knapperContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 24vw;
    height: 12vh;
    padding: 2%;
}

.knapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFBE9;
    /* margin: 1.5%; */
    /* padding: 2% 5%; */
    box-shadow: 2px 2px 7px;
    width: 48%; 
    height: 100%;
    /* position: absolute;
    margin: 40% 0; */
    
}

.knapper:hover{
    /* background-color: #e9e2c5; */
    background-color: #E3CAA5;
    transition: background-color 0.1s;
}

.knapper:active{
    width: 49.5%;  
    height: 101%;  
    transition: height 0.01s; 
    transition: width 0.01s; 
    /* animation: startKnappAnimasjon;
    animation-duration: 1s; */

}
/* 
@keyframes startKnappAnimasjon{
    0%{width: 12vw; ; height: 12vh;}
    50{width: 20vw; ; height: 20vh;}
    100%{width: 12vw; ; height: 12vh;}
} */

#hoved{
    /* position: absolute; */
    margin: 2% auto;
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #E3CAA5;
    box-shadow: 2px 2px 7px;
}

#tekstFelt{
    display: flex;
    flex-direction: column;
    background-color: #FFFBE9;
    justify-content: center;
    align-items: center;
    /* padding: 7%; */ 
    height: 30vh;
    width: 70vw;
    /* border: solid 1px #000; */
    margin-bottom: 10%;
    box-shadow: 0px 2px 7px;
}

#tekstFelt h1 {
    font-size: 3vw;
}

.tekstLinje{
    display: flex;
    flex-direction: row;
    width: 74%;
    
}
span{
    display: flex;
    flex-direction: row;
    margin: 0 4px 0 4px;
    font-size: 1.6vw;
}



#skriveFelt{
    display: flex;
    align-items: center;
    background-color: #FFFBE9;
    /* height: 40px; */
    height: 5vh;
    width: 15vw;
    border: solid 1px rgb(138, 112, 59);
    padding-left: 15%;
    /* padding-left: 15%;  */ 
    font-size: 1.4vw;
    margin-bottom: 20%;
} 

#skriveFeltMobil{
    display: none;
}


/* 
#poengTeller{
    font-size: 1vw;
} */

@media only screen and (max-width: 1050px){
    
    span p{
        font-size: 2vw
    }

    #tekstFelt{
        width: 85vw;
    }

    #tekstFelt h1{
        font-size: 4vw;
    }
    #hoved{
        width: 60vw;
    }
    
    .tekstLinje{
        width: 80%;
    }

    #knapperContainer{
        width: 35vw;
    }

    #skriveFelt{
        height: 7vh;
        width: 18vw;
        font-size: 2vw;
    }

    #instruksjonsMeny{
        width: 85vw;
        margin-top: 11.8%;
    }
    
    #instruksjonsTekst{
        font-size: 1.95vw;
    }
    
}

@media only screen and (max-width: 750px){
    span p{
        font-size: 2.9vw
    }

    #tekstFelt{
        width: 90vw;
        height: 40vh;
    }

    #tekstFelt h1{
        font-size: 5vw;
    }

    #knapperContainer{
        width: 40vw;
    }

    #tekstFelt{
        flex-direction: row;

    }

    .tekstLinje{
        flex-direction: column;
        width: 70%;
    }

    span{
        justify-content: center;
    }

    #skriveFelt{
        font-size: 2.3vw;
    }

    #instruksjonsMeny{
        margin-top: 15.7%;
        width: 90vw;
    }

    #instruksjonsTekst{
        font-size: 2.7vw;
    }
}

@media only screen and (max-width: 600px) {

    #navLeft{
        padding-left: 10%;
    }

    #navLeft h2{
        font-size: 5vw;
    }
    #navMid h2{
        font-size: 4vw;
    }

    #hoved{
        width: 90%;
        
    }
    #tekstFelt{
        width: 100vw;
        flex-direction: row;
        height: 40vh;
    }
    #tekstFelt h1{
        font-size: 7vw;
    }

    span{
        justify-content: center;
    }

    span p {
        font-size: 3.7vw;
    }
    
    

    
/* 
    #skriveFeltMobil{
        display: initial; 
        text-align: center;
        width: 100%;
        height: 100%;
        font-size: 7vw;
    } */

    .tekstLinje{
        flex-direction: column;
    }

    #instruksjonsMeny{
        width: 100vw;
        height: 89vh;
        margin-top: 19%;
    }
    #instruksjonsTekst{
        font-size: 4vw;
        padding: 2%;
        width: 80%;
        height: 90%;
        padding: 4%;
        
    }

    #knapperContainer{
        width: 70vw;
    }

    #skriveFelt{
        width: 30vw;
        font-size: 4vw;
    }

    /* oppstartKnapp{
        width: 70vw;
    }
    
    #oppstartKnapp:active{
        width: 71vw;
    } */

}

@media only screen and (max-width: 550px){

    #instruksjonsMeny{
        display: initial;
        margin: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
    };

    /* #instruksjonsMeny.active{
        margin: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
    }; */
}

@media only screen and (min-width: 2000px){
    span p {
        font-size: 2.5vw;
    }
}