body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin:0px;
    padding:0px;
}
/*Navbar*/
#navbar{
    background-color: rgba(25, 25, 25);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    align-items: center;
}

.navbar_right{
    width: 50%;
} 



#navbar_list{
    display: flex;
    list-style-type: none;
    margin: 0 5% 0 0;
    padding:0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#navbar_left{
    text-align: left;
    width: 50%;

}

#navtitle{
    font-size: 1.5rem;
    font-weight: 200;
    color: #FFF;
    margin: 0 0 0 10%;
    padding: 1rem;
}

#toggle_button{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 1.1rem;
    right: 1rem;
    justify-content: space-between;
    width: 3.5%;
    height: 50%; 
}

.bar{
    height: 3px;
    width: 100%;
    background-color: #FFF;
    border-radius: 10px;
}

/*End of navbar css*/

.heading{
    font-size: 7vw;
    font-weight: 100;
    color: rgb(0, 0, 0);
    margin: 15% auto 30% auto;
}

.videoes{
    margin: 0 auto 20% auto;
    height: 800px;
    width: 80%;
}

iframe{
    border: none;
}

/*Lenker*/

a {
    font-weight: 200;
    color: #FFF;
    text-decoration: none;
    transition: text-decoration-color 0.2s;
    
}
a:visited {
    color: #FFF;
    text-decoration: none;
}
a:hover{
    color: #FFF;
    text-decoration: underline;
    text-decoration-color: #FFF;
}a:active{
    color: rgb(168, 168, 168);
    text-decoration: underline;
    text-decoration-color: rgb(167, 167, 167);
}
a:focus{
    color: #FFF;
    text-decoration: underline;
    text-decoration-color: #FFF;
    border: #FFF;
}


/*Bannet*/

#bannet{
    padding: 2.5%;
    background-color: rgb(25, 25, 25);
    margin: 0;
    
}
#sourceslink{
    margin: 0 auto;
}


@media only screen and (max-width:800px){

    .heading{
        font-size: 12vw;
        margin: 40% auto 80% auto;
    }

    .videoes{
        height: 400px;
    }


    /*Navbar*/

    #navbar{
        flex-direction: column;
    }

    #navbar_list{
        flex-direction: column;
        margin: 0 0 3% 0;
    }

    #navtitle{
        margin-left: 24%;
    }

    #toggle_button{
        display: flex;
        height: 25px;
    }

    #navbar_list li{
        /* display: none; */
        padding: 5% 0;
    }

    .navbar_right{
        display: none;
        flex-direction: column;

    }
    
    .navbar_right.active{
        display: flex; 
    }

    #sourceslink{
        margin: 0 8% 0 auto;
    }
   
}