body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin:0px;
    padding:0px;
}

/*Navbar*/

#navbar{
    background-color: rgba(25, 25, 25);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    align-items: center;
}

.navbar_right{
    width: 50%;
} 



#navbar_list{
    display: flex;
    list-style-type: none;
    margin: 0 5% 0 0;
    padding:0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#navbar_left{
    text-align: left;
    width: 50%;
}

#navtitle{
    font-size: 1.5rem;
    font-weight: 200;
    color: #FFF;
    margin: 0 0 0 10%;
    padding: 1rem;
}

#toggle_button{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 1.1rem;
    right: 1rem;
    justify-content: space-between;
    width: 3.5%;
    height: 50%; 
    
}

.bar{
    height: 3px;
    width: 100%;
    background-color: #FFF;
    border-radius: 10px;
}

/*Headings and text*/
.heading{
    font-size: 7vw;
    font-weight: 100;
    
}

.subheading{
    font-size: 4vw;
    font-weight: 100;
}

#heading_black,.subheading_black{
    font-weight: 100;
    color: rgb(255, 255, 255);
    margin: 15% auto;
}
#heading_black{
    font-size: 7vw;
   
}
.subheading_black{
    font-size: 3vw;
   
}

.body_text{
    font-weight: 300;
    font-size: 1.25vw;
    padding: 10% 12% 2% 12%;
    /* text-align: left; */
}

.body_text_black{
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 1.25vw;
    padding: 2% 12%;
}

/*Grid*/
#grid1{
    width: 80%;
    margin: 6% auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "tl tr"
    "bl br";
}

.top_left{
    grid-area: tl;
    
}

.top_right{
    grid-area: tr;
    
}
.bottom_middle{
    grid-area: bm;
    
}


.bottom_right{
    grid-area:br;
}

.bottom_left{
    grid-area: bl;

}


#top_right1{
    display: flex;
    flex-direction: column;
    padding: 15% 15% 15% 17%;
    text-align: left;
    border: solid 1px #000; 
}

#bottom_right1,#bottom_left1{
    padding: 10%;
} 

#pic1{
    width: 85%;
    height: 75%;
    margin: 0% 2% 2% 2%;
}

#headingsplit1{
    margin: 0 auto ;
    text-align: left;
    width: 100%;
}
#headingsplit2{
    margin: 0% auto ;
    text-align: left;
    width: 100%;
    position: relative;
    top: -10%;
}

/*Grid2*/

#black{
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 5% 0px;
    padding-bottom: 15%;
}



#grid2{
    display: grid;
    width: 80%;
    margin: 0px auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "tl tr"
    "bl br";
    gap: 7% ;
}



#bottom_left2,#bottom_right2{
    border: solid 1px #FFF;
    margin-top: 15%;
    padding: 2%;
}

#top_left2,#top_right2{
    border: solid 1px #FFF;
    padding: 2%;
    
}


/*Lenker*/

a {
    font-weight: 200;
    color: #FFF;
    text-decoration: none;
    transition: text-decoration-color 0.2s;
    
}
a:visited {
    color: #FFF;
    text-decoration: none;
}
a:hover{
    color: #FFF;
    text-decoration: underline;
    text-decoration-color: #FFF;
}a:active{
    color: rgb(168, 168, 168);
    text-decoration: underline;
    text-decoration-color: rgb(167, 167, 167);
}
a:focus{
    color: #FFF;
    text-decoration: underline;
    text-decoration-color: #FFF;
    border: #FFF;
}


/*Bannet*/

#bannet{
    padding: 2.5%;
    background-color: rgb(25, 25, 25);
    margin: 0;
    
}
#sourceslink{
    margin: 0 auto;
}


@media only screen and (max-width:800px){
    #top_right1{

        flex-direction: row;
        text-align: center;
        align-items: center;
        
    }


    
    #headingsplit1{
        font-size: 10vw;
        position: relative;
        bottom: 15%;
    
    }

    #headingsplit2{
        
        font-size: 10vw;
        top: -15%;
        right: 6.5%;
        
    } 

    
    
    #grid1{
        
        grid-template-columns: 1fr;
        grid-template-rows: 650px auto 1fr 1fr;
        grid-template-areas: 
        "tr"
        "tl"
        "bl"
        "br";
    }
    #pic1{
        height: 85%;
        margin: 0% 2%;
        margin-top: 10%;
        
    }

    #black{
        padding-bottom: 50%;
    }

    .subheading,#heading_black{
        font-size: 10vw;
    }
    
    .subheading_black{
        font-size: 7.5vw;
    }
    
    .body_text,.body_text_black{
        font-size: 3.5vw;
    }

    #grid2{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "tl"
        "tr"
        "bl"
        "br";
        gap: 2%;

    }
    #top_right2,#bottom_left2,#bottom_right2{
        margin-top: 15%;
        
    }


    /*Navbar*/

    #navbar{
        flex-direction: column;
    }

    #navbar_list{
        flex-direction: column;
        margin: 0 0 3% 0;
    }

    #navtitle{
        margin:  0 0 0 24%;
    }

    #toggle_button{
        display: flex;
        height: 25px;
    }

    #navbar_list li{
        padding: 5% 0;
    }

    .navbar_right{
        display: none;
        flex-direction: column;

    }
    
    .navbar_right.active{
        display: flex; 
        
    }

    #sourceslink{
        margin: 0 8% 0 auto;
    }
}