body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/*Navbar*/

#navbar{
    background-color: rgba(25, 25, 25);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    align-items: center;
}

.navbar_right{
    width: 50%;
} 

#navbar_list{
    display: flex;
    list-style-type: none;
    margin: 0 5% 0 0;
    padding:0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#navbar_left{
    text-align: left;
    width: 50%;
}

#navtitle{
    font-size: 1.5rem;
    font-weight: 200;
    color: #FFF;
    margin: 0 0 0 10%;
    padding: 1rem;
}

#toggle_button{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 1.1rem;
    right: 1rem;
    justify-content: space-between;
    width: 3.5%;
    height: 50%; 
}

.bar{
    height: 3px;
    width: 100%;
    background-color: #FFF;
    border-radius: 10px;
}

/*End of navbar css*/

#heading{
    font-size: 7vw;
    font-weight: 100;
}   

#headingdiv{
    margin: 15% auto 30% auto;
}
/*Sources list*/

h2{
    font-weight: 200;
    font-size: 4vw;
}

p{
    font-size: 2vw;
    font-weight: 200;
}
#source_div{
    margin-bottom: 20%;
    word-break: break-all;
    padding: 5% 5% 5% 3%;
}

#source_div ul li{
    list-style-type: none;
}

/*Lenker*/

li a {
    font-weight: 200;
    color: #FFF;
    text-decoration: none;
    transition: text-decoration-color 0.2s;
}
li a:visited {
    color: #FFF;
    text-decoration: none;
}
li a:hover{
    color: #FFF;
    text-decoration: underline;
    text-decoration-color: #FFF;
}
li a:active{
    color: rgb(168, 168, 168);
    text-decoration: underline;
    text-decoration-color: rgb(167, 167, 167);
}
li a:focus{
    color: #FFF;
    text-decoration: underline;
    text-decoration-color: #FFF;
    border: #FFF;
}

/*Sourcelinks*/

#source_div ul li a {
    color: #000;
    font-size: 2vw;
    
}

#source_div ul li a:hover{
    
    color: #000;
    text-decoration: underline;
    text-decoration-color:#000 ;
}
#source_div ul li a:focus{
    text-decoration: underline ;
    text-decoration-color: #000;
} 


@media only screen and (max-width:800px){

    #heading{
        margin: 40% auto 75% auto ;
        font-size: 10vw;
    }

    #source_div ul li a{
        font-size: 4vw;
    }
    h2{
        font-size: 6vw;
    }

    p{
        font-size: 4vw;
    }

    /*Navbar*/
    #navbar{
        flex-direction: column;
    }

    #navbar_list{
        flex-direction: column;
        margin: 0 0 3% 0;
    }

    #navtitle{
        margin-left: 24%;
    }

    #toggle_button{
        display: flex;
        height: 25px;
    }

    #navbar_list li{
        padding: 5% 0;
    }

    .navbar_right{
        display: none;
        flex-direction: column;
    }


    .navbar_right.active{
        display: flex; 
        
    }


}

